*{
    margin:0;
    padding: 0;
    box-sizing: inherit;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}
html{
    box-sizing: border-box;
}
.flex{
    display: flex;
}