div.head-bar{   
    justify-content: space-between;
    align-items: center;
    background-color: #1d559f ;
    color: white;
    position: fixed;
    height: 60px;
    top: 0;
}   
div.logo{
    width: 30%;
}
div.aside-logo{
    width: 70%;
}
div.aside-logo > ul > li{
    list-style-type: none;
   
}
div.aside-logo > ul > li > a{
    
    color: white;
    display: block;
    padding: 20px;
    border-right: 1px solid white;
}
ul{
    justify-content: space-evenly;
    align-items: center;
}